@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-white dark:bg-black;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

body {
  margin: 0;
  @apply text-gray-900 dark:text-white;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.3s ease-in-out;
}

nav {
  @apply w-full text-center mt-8;
  font-family: 'Lobster', sans-serif;
  font-size: 24px;
}

#app {
  @apply max-w-7xl mx-auto p-8 font-normal;
}
